.bannerintegrantes{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotyjaider.appspot.com/o/bannerintegrantes.jpg?alt=media&token=ddff921e-724a-45e7-be7e-74c885dfc41c');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}
.fotofonfo{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotyjaider.appspot.com/o/rainbow-.webp?alt=media&token=62590a68-0105-4d7d-b576-0c623ff02115');
    background-position: top center;
    background-attachment: fixed;
    padding: 4%;
}
.colorfondo{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotyjaider.appspot.com/o/colorfondo.webp?alt=media&token=0a9a9cf1-a845-4a2d-bd16-bc292ce77d64');
    background-position: top center;
    padding: 3%;
}